<!-- Projects Introduction-->
<!DOCTYPE HTML>
<html>
<head>
<title>项目介绍</title>
<link href="./static/css/styleproject.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div class="header">
	<a href="/index"><img class="logo" src="./static/images/logo.png" alt="logo"></a>
	<p>在研项目介绍</p>
</div>
<div class="team" id="team">
	<div class="wrap">
		<div class="team-grids">
			<h2>项目介绍</h2>
						<p></p>
						<div class="images">
						<div class="images_1_of_4">
					 		<a class="radius"><img src="./static/images/wq-1.jpg" alt="围棋"></a>
					 		<h3>围棋</h3>
					 		<p>AlphaGo推动了新一轮人工智能的浪潮，但是其背后的深度神经网络技术仍然有一定的提升空间，
							我们将以围棋为依托，致力于提升网络的性能</p>
					 						    
						</div>
						<div class="images_1_of_4">
							 <a href="#" class="radius"><img src="./static/images/xjzb-2.jpg" alt="星际争霸"></a>
							 <h3>星际争霸</h3>
							 <p>星际争霸是一款经典的战争游戏，在游戏的过程中，玩家会使用有效的战略战术，来获得游戏的胜利，
							 通过分析大量的该游戏数据，希望使得机器学会战略、战术的能力</p>	
							 				   
						</div>
						<div class="images_1_of_4">
							 <a href="#" class="radius"><img src="./static/images/mj-3.jpg" alt="中国麻将"></a>
							 <h3>中国麻将</h3>
							 <p>通过模拟麻将对局的过程中教会机器学会麻将的相关规则，使得机器可以在信息不对称的环境下拥有猜想，决策的能力</p>							 
							 					   
						</div>
						<div class="images_1_of_4">
							 <a href="#" class="radius"><img src="./static/images/zdjs-4.jpg" alt="自动驾驶"></a>
							 <h3>自动驾驶</h3>
							 <p>无人驾驶将是未来人工智能发展的热门领域之一，但是驾驶环境存在多变性复杂性等特点，我们希望
							 使得汽车拥有学会学习的能力，可以在多变的环境中做出准确及时的决策</p>	
							 					   
						</div>
						<div class="clear"> </div>
						</div>
						<div class="demos">
						<a href="./milGo" target="_blank" class="demo"><img src="./static/images/ndemo.png"></a>
						<a href="#contact" class="demo"><img src="./static/images/ndemo.png"></a>
						<a href="#contact" class="demo"><img src="./static/images/ndemo.png"></a>
						<a href="#contact" class="demo"><img src="./static/images/ndemo.png"></a>
						<div class="clear"></div>
						</div>
		 </div>
</div>
</div>
</body>